* {
    background-image: url('-\ Copy.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
}
    
h1{
    color: white;
    margin-left: 20px;
    margin-top: 40px;
}
#box{
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 20px;
    margin-bottom: 120px;

    
}
#content{
    font-size: x-large;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    color: black;
}

 button {
    border-radius: 25px;
    border: 2px solid black;
   
    
}
a{
    color: white;
}
